/* stylelint-disable font-family-no-missing-generic-family-keyword */
body {
  color: #fff5e1;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  font-family: 'Roboto';
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #3c3a39;
  height: 4em;
}

.header-logo {
  font-style: normal;
  padding-left: 1.2em;
  color: #fff5e1;
  font-size: 18px;
  font-weight: 700;
  align-self: flex-end;
  padding-bottom: 1em;
  text-decoration: none;
}

header img {
  padding-right: 1.5em;
  height: 12px;
  padding-bottom: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: black;
  background-image: url("./illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: 14em 15em;
  background-size: 40%;
  margin: 0;
  padding: 0;
}

.icons {
  padding-bottom: 5em;
  display: flex;
  list-style: none;
}

.icon-buttons {
  padding-right: 1em;
}

.intro {
  padding-left: 1.2em;
}

.intro h1 {
  padding-top: 1.5em;
  padding-bottom: 0;
  font-family: "Crete Round";
  color: #ff6b00;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.intro h2 {
  padding-top: 0;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

.intro p {
  padding-right: 2em;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
}

.main-project {
  color: #1c1a19;
  padding: 4.5em 1.5em 0 1.5em;
}

.banner {
  font-family: "Crete Round";
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 0.7em;
  margin-bottom: 1.8em;
  border-bottom: 1px solid #212121;
}

.main-project h2 {
  font-family: "Crete Round";
  font-size: 32px;
  font-weight: 400;
}

.main-project p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
}

.main-project ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
}

.main-project li {
  padding: 0.7em;
  margin: 1em 1em 1em 0;
  justify-content: center;
  border: 1px solid #8993a4;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}

.main-project button {
  background-color: #ff6b00;
  width: 124px;
  height: 48px;
  border: none;
  font-family: "Inter";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
}

.other-projects {
  background-image: url("Img Placeholder 2.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 1.5em 1.5em;
}

.other-projects h2 {
  font-family: "Crete Round";
  font-size: 32px;
  font-weight: 400;
  padding-top: 2.8em;
  margin-left: 0.5em;
}

.other-projects p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  margin: 0 2em 0 1em;
  padding: 0;
}

.other-projects ul {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 0 0 0 0.5em;
}

.other-projects li {
  padding: 0.7em;
  margin: 0 1em 1em 0;
  border: none;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.24);
}

.other-projects button {
  background-color: #ff6b00;
  width: 100%;
  height: 48px;
  border: none;
  font-family: "Inter";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url("Group.png");
  background-repeat: no-repeat;
  background-position: 14em 18.5em;
  background-size: 40%;
  margin: 0;
  padding: 0;
}

.about-me h1 {
  font-family: "Crete Round";
  color: #ff6b00;
  font-size: 72px;
  font-weight: 400;
  padding-left: 0.3em;
  margin: 1em 0 0 0;
}

.about-me p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.about-me button {
  background-color: #ff6b00;
  width: 161px;
  height: 48px;
  border: none;
  font-family: "Inter";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  margin-left: 1.5em;
  margin-bottom: 10em;
}

.main-project button:hover {
  background-color: #f8b791;
  border: 1px solid #f55800;
  color: #f55800;
}

.other-projects button:hover {
  background-color: #f8b791;
  border: 1px solid #f55800;
  color: #f55800;
}

.about-me button:hover {
  background-color: #f8b791;
  border: 1px solid #f55800;
  color: #f55800;
}

.about-me hr {
  width: 327px;
}

.skills {
  padding: 5em 0;
  margin-left: 0%;
}

.skills-list {
  font-size: 32px;
  font-family: "Inter";
  font-weight: 700;
  color: #fff;
  list-style: none;
  text-align: center;
  padding-bottom: 2em;
}

.skillset {
  font-size: 22px;
  font-family: "Inter";
  font-weight: 400;
  color: #fff;
  list-style: none;
  text-align: center;
  padding: 2em 1em 0 1em;
}
