/* stylelint-disable font-family-no-missing-generic-family-keyword */
body {
  color: #fff5e1;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  font-family: 'Roboto';
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #3c3a39;
  height: 72px;
}

#nav-desktop {
  display: none;
}

.header-logo {
  font-style: normal;
  padding-left: 1.2em;
  color: #fff5e1;
  font-size: 18px;
  font-weight: 700;
  align-self: flex-end;
  padding-bottom: 1em;
  text-decoration: none;
}

#hamburger {
  padding-right: 1.5em;
  height: 12px;
  padding-bottom: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  background-color: black;
  background-image: url('./assets/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: 14em 15em;
  background-size: 40%;
  margin: 0;
  padding: 0;
}

.icons {
  padding-bottom: 5em;
  display: flex;
  list-style: none;
}

.icon-buttons {
  padding-right: 1em;
}

.intro {
  padding-left: 1.2em;
}

.intro h1 {
  padding-top: 1.5em;
  padding-bottom: 0;
  font-family: 'Crete Round';
  color: #ff6b00;
  font-size: 64px;
  font-weight: 400;
  margin: 0;
}

.intro h2 {
  padding-top: 0;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

.intro p {
  padding-right: 2em;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
}

.main-project {
  color: #1c1a19;
  padding: 4.5em 1.5em 0 1.5em;
}

.works-header hr {
  display: none;
}

.banner {
  font-family: 'Crete Round';
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 0.7em;
  margin-bottom: 1.8em;
  border-bottom: 1px solid #212121;
}

.main-project h2 {
  font-family: 'Crete Round';
  font-size: 32px;
  font-weight: 400;
}

.main-project p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
}

.main-project ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  margin: 0;
}

.main-project li {
  padding: 0.7em;
  margin: 1em 1em 1em 0;
  justify-content: center;
  border: 1px solid #8993a4;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 500;
  list-style: none;
}

.main-project button {
  background-color: #a03f07;
  width: 124px;
  height: 48px;
  border: none;
  font-family: 'Inter';
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
}

.other-projects {
  background-image: url('./assets/ImgPlaceholder2.png');
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 1.5em 1.5em;
}

#other-projects2 {
  background-image: url('./assets/PlaceholderAA.png');
}

#other-projects3 {
  background-image: url('./assets/PlaceholderBB.png');
}

.other-projects h2 {
  font-family: 'Crete Round';
  font-size: 32px;
  font-weight: 400;
  padding-top: 2.8em;
  margin-left: 0.5em;
  height: 81px;
  display: flex;
  flex-direction: column-reverse;
}

.other-projects p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  margin: 0 2em 0 1em;
  padding: 0;
}

.other-projects ul {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin: 0 0 0 0.5em;
}

.other-projects li {
  padding: 0.7em;
  margin: 0 1em 1em 0;
  border: none;
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 500;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.24);
}

.other-projects button {
  background-color: #a03f07;
  width: 100%;
  height: 48px;
  border: none;
  font-family: 'Inter';
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url('./assets/GroupDD.png');
  background-repeat: no-repeat;
  background-position: 14em 18.5em;
  background-size: 40%;
  margin: 0;
  padding: 0;
}

.about-me h1 {
  font-family: 'Crete Round';
  color: #ff6b00;
  font-size: 72px;
  font-weight: 400;
  padding-left: 0.3em;
  margin: 1em 0 0 0;
}

.about-me p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.about-me button {
  background-color: #a03f07;
  width: 161px;
  height: 48px;
  border: none;
  font-family: 'Inter';
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.05em;
  margin-left: 1.5em;
  margin-bottom: 10em;
}

.main-project button:hover {
  background-color: #f8f5f4;
  border: 1px solid #a03f07;
  color: #a03f07;
}

.other-projects button:hover {
  background-color: #f8f5f4;
  border: 1px solid #a03f07;
  color: #a03f07;
}

.about-me button:hover {
  transition-property: background-color;
  transition-duration: 1s;
  background-color: #f8f5f4;
  border: 1px solid #f55800;
  color: #f55800;
  transform: translate(4px, 4px);
}

.about-me hr {
  width: 327px;
}

.skills {
  padding: 5em 0;
  margin-left: 0%;
}

.skills-list {
  font-size: 32px;
  font-family: 'Inter';
  font-weight: 700;
  color: #fff;
  list-style: none;
  text-align: center;
  padding-bottom: 2em;
}

.skillset {
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 400;
  color: #fff;
  list-style: none;
  text-align: center;
  padding: 2em 1em 0 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

#formid {
  border: none;
  border-bottom: 1px solid #1c1a19;
  border-bottom-color: #dfe1e6;
  display: flex;
  flex-direction: column;
}

.form-header {
  text-align: center;
  font-family: Inter;
  font-style: bold;
  font-size: 32px;
  line-height: 44px;
  color: rgb(23, 43, 77);
  margin: 120px 24px 24px 24px;
}

.form-input {
  margin: 24px;
  padding: 14px 16px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#textarea {
  background-color: #fbf8f7;
  border: none;
  margin: 24px;
  padding: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

#form-button {
  align-items: center;
  padding: 12px;
  width: 131px;
  height: 48px;
  background: #a03f07;
  margin: 24px 122px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  margin-bottom: 124px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 13px;
}

.icons2 {
  display: flex;
  list-style: none;
  justify-content: center;
}

ul.icons2 {
  margin: 0;
  padding: 0;
}

#shape {
  align-self: center;
  margin-top: 15px;
}

#form-button:hover {
  background-color: #f8f5f4;
  border: 1px solid #a03f07;
  color: #a03f07;
}

#footer-hr {
  display: none;
}

@media screen and (min-width: 768px) {
  #nav-mobile {
    display: none;
  }

  #nav-desktop {
    display: inline;
    align-self: center;
  }

  #nav-desktop a {
    padding-right: 32px;
    margin: 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
  }

  header img {
    height: 18px;
    padding-bottom: 0;
    padding-right: 119px;
  }

  .header-logo {
    padding-left: 154px;
    font-size: 20px;
    padding-bottom: 26px;
  }

  .container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    background-image: url(./assets/Illustration-header.png);
    background-position: right;
  }

  .icons {
    flex-direction: column;
    padding: 279px 0 21px 36px;
  }

  .intro {
    padding-left: 71px;
  }

  .intro p {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 251px;
  }

  .intro h1 {
    padding-top: 192px;
  }

  .icons li {
    padding-bottom: 21px;
  }

  .works {
    margin: 135px 153.5px 0 153.5px;
  }

  .main-project {
    padding: 0;
  }

  .hr {
    display: inline-block;
    content: '';
    background-color: #212121;
    height: 1px;
    width: 61%;
    padding-right: 30px;
    margin-left: 20px;
  }

  .banner {
    border: none;
    display: flex;
    align-items: center;
  }

  #project {
    display: grid;
    grid-template-columns: 600px 400px;
    gap: 24px;
  }

  #project-story {
    width: min-content;
  }

  #project img {
    min-height: 400px;
    min-width: 600px;
    display: flex;
    flex-shrink: inherit;
  }

  .other-projects:hover .hover {
    display: none;
  }

  #project h2 {
    margin-top: 0;
  }

  #projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 29px;
    margin-top: 24px;
    margin-bottom: 130px;
  }

  .other-projects {
    margin: 0;
    background-position-y: center;
  }

  .other-projects button {
    display: none;
  }

  .other-projects:hover button {
    display: block;
  }

  .other-projects:hover {
    background-image: url(./assets/Placeholder44.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  #other-projects2:hover {
    background-image: url(./assets/Placeholder44.png);
  }

  #other-projects3:hover {
    background-image: url(./assets/Placeholder44.png);
  }

  .about-me {
    background-image: url(./assets/illustration-aboutme.png);
    background-position: right 6em;
    padding-top: 130px;
    padding-left: 142px;
  }

  .about-me h1 {
    margin-top: 0;
  }

  .about-me p {
    width: 40%;
    padding-bottom: 24px;
  }

  .about-me hr {
    width: 1156px;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .skills-list {
    text-align: inherit;
  }

  .skillset {
    text-align: inherit;
    padding-left: 0;
  }

  .form {
    display: flex;
    flex-direction: row;
  }

  .form-header {
    max-width: 455px;
    text-align: left;
    padding-left: 135px;
    margin: 130px 0 0 0;
  }

  #formid {
    padding-top: 100px;
    border: none;
  }

  #form-button {
    margin: 0 0 154px 24px;
  }

  #textarea {
    height: 114px;
  }

  #footer-hr {
    display: block;
    border: 1px solid #e0e1e6;
  }

  #shape {
    display: none;
  }
}
